#root {
  max-width: 430px;
  max-height: 932px;
  width: 430px;
  height: 932px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 1px solid black;
}

.light {
  font-family: 'light';
  color: red;
}

.medium {
  font-family: 'medium';
  color: blue;
}

.bold {
  font-family: 'bold';
  color: blueviolet;
}

.Exbold {
  font-family: 'exbold'; 
  color: green; 
}
