:root {
  --black: #333333; /* 라이트모드 폰트 기본컬러 */
  --white: #ffffff; /* 다크모드 폰트 기본컬러 */
  --gray-50: #eeeeee;
  --gray-100: #cccccc;
  --gray-150: #555555;
  --gray-200: #888888;
  --error-color: #ff786f;
  --success-color: #289e1e;
  --main-color: #4acf9a;
  --main-color-2: #d0f5be;
}

body {
  /* 개발편의를 위해 margin: auto 적용! */
  /* FIXME 0으로 수정! */
  margin: auto;
  /* margin: 0; */
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 430px;
  min-width: 375px;
  /* max-height: 932px; */

  background: #dddddd;
}

#root {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 0px;
  /* overflow: hidden; */
  /* padding: 16px; */
  /* box-sizing: border-box; */
  /* border: 1px solid black; */

  @media (prefers-color-scheme: light) {
    background: var(--white);
  }

  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }
}

button, input {
  border-radius: 2rem;
  @media (prefers-color-scheme: light) {
    background-color: var(--gray-50);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--gray-150);
  }
}

@font-face {
  font-family: "light";
  src: url("../public/fonts/NanumSquareRoundL.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../public/fonts/NanumSquareRoundR.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../public/fonts/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "exbold";
  src: url("../public/fonts/NanumSquareRoundEB.ttf");
}

* {
  font-family: "medium";

  @media (prefers-color-scheme: light) {
    color: #333333;
  }

  @media (prefers-color-scheme: dark) {
    color: #ffffff;
  }
}

.gray-100 {
  color: #cccccc;
}

.gray-200 {
  color: #888888;
}

.error-color {
  color: #ce4a4a;
}

.success-color {
  color: #289e1e;
}

.main-color {
  color: #4acf9a;
}
