@font-face {
  font-family: 'light';
  src: url('../public/fonts/NanumSquareRoundL.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('../public/fonts/NanumSquareRoundR.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../public/fonts/NanumSquareRoundB.ttf');
}

@font-face {
  font-family: 'exbold';
  src: url('../public/fonts/NanumSquareRoundEB.ttf');
}

* {
  font-family: 'medium'
}
