@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../public/font/NanumSquareRoundL.ttf') format('ttf');
}

@font-face {
  font-family: 'NanumSquareRoundM';
  src: url('../public/font/NanumSquareRoundM.ttf') format('ttf');
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../public/font/NanumSquareRoundB.ttf') format('ttf');
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../public/font/NanumSquareRoundEB.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

*{
  font-family: 'NanumSquareRound';
}